.table_body {
    text-align: left;
    vertical-align: center;
}
.table_body tr:nth-child(even) {
    background-color: #428ca369;
}

 .table_body td {
     padding: 15px;
     font-size: 17px;
 }

.title {
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    
}

.author {
    font-style: italic;
}
